/*palette
#322923 Very dark (mostly black) orange [Brown tone].
#513e2e Very dark desaturated orange.
#896038 Dark moderate orange.
#d7a05b Moderate orange.
#eabe7c Soft orange.
#cdb590 Slightly desaturated orange.
#aa916a Mostly desaturated dark orange.
#816f53 Mostly desaturated dark orange.
*/
body{
background-image: url("../img/bg.png"); /* https://loading.io/pattern/m-lines */
/*background: #896038;*/
margin:0px;
padding:0px;
color:#d7a05b;
font-family: 'Abel', sans-serif;
}

#game{
	height:100%;
	width:100%;
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-template-rows:33% 33% 33%;
	grid-template-areas:
	"craft sell- stats build upgra"
	"..... ..... spinn ..... ....."
	"..... ..... ..... ..... .....";
	justify-items: stretch;
}

#statContainer{
	grid-area:stats;
}
#buildingContainer{
	grid-area:build;
}
#upgradeContainer{
	grid-area:upgra;
}
#craftingContainer{
	grid-area:craft;
}
#sellingContainer{
	grid-area:sell-;
}
#spinnerOuterContainer{
	grid-area:spinn;
	position: relative;
    top: -75;
}

#spinnerWinningsContainer{
	opacity:0%;
}

#spinnerWinningsText,#spinnerWinningsValue,#spinnerWinningsContainer{
	z-index: 1;
    color: #322923;
    pointer-events: none;
    position: relative;
    top: -100;
    text-align-last: center;
    font-size: 55px;
    -webkit-text-stroke: 2px #cdb590;
}
#spinnerButtons{
	display:flex;
	justify-content:center;
	align-items:center;
}
#spinnerContainer{
	background: #513e2e;
    border-radius: 5px;
    border: 2px solid #eabe7c;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#spinnerInnerContainer{
	display:flex;
	justify-content:center;
	align-items:center;
}
.a1{
background-image: url("../img/1.png");}
.a2{
background-image: url("../img/2.png");}
.a3{
background-image: url("../img/3.png");}
.a4{
background-image: url("../img/4.png");}
.a5{
background-image: url("../img/5.png");}
.a6{
background-image: url("../img/6.png");}
.a7{
background-image: url("../img/7.png");}
#slot1, #slot2, #slot3{
	display: inline-block;
	background-size: 80px;
	width: 80px;
	height: 80px;
}
#oddsA1,#oddsA2,#oddsA3,#oddsA4,#oddsA5,#oddsA6,#oddsA7,#oddsD1,#oddsD2,#oddsD3,#oddsD4,#oddsD5,#oddsD6,#oddsD7{
	display: block;
	background-size: 20px;
	width: 20px;
	height: 20px;
	margin:5 0;
	margin-left:5;
}
#oddsB1,#oddsB2,#oddsB3,#oddsB4,#oddsB5,#oddsB6,#oddsB7,#oddsC1,#oddsC2,#oddsC3,#oddsC4,#oddsC5,#oddsC6,#oddsC7{
	display: block;
	background-size: 20px;
	width: 20px;
	height: 20px;
	margin:5 0;
}
#oddsE1,#oddsE2,#oddsE3,#oddsE4,#oddsE5,#oddsE6,#oddsE7{
	display: block;
	margin:5 0;
	height: 20px;
	margin-left:10px;
	text-align:right;
}
#oddsContainer1,#oddsContainer2,#oddsContainer3{
	display:inline-block;
	position: relative;
    left: 40%;
}
#oddsContainer4{
	display:inline-block;
	position:absolute;
	left:230px;
}
#oddsContainer5{
	display:inline-block;
	position:absolute;
	left:0px;
}
#slot1Wrapper,#slot2Wrapper,#slot3Wrapper{
	background:white;
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius:5px;
	border:2px solid #eabe7c;
}
.slotButton{
	margin:5;
}
#oddsChart{
	position:relative;
	justify-content:center;
	align-items:center;
	border-radius:5px;
	border:2px solid #eabe7c;
	width:380px;
	height:180px;
	margin-top:5px;
	background:#322923;
    top: -140;
	z-index:1;
}
#jackpotOuterContainer {
    width: fit-content;
    padding: 10;
    margin: 5 auto;
}
#jackpotContainer{
    background-color: #513e2e;
    border-radius: 25px;
    padding: 0 15;
    border-width:10px;
	border-style:solid;
    color:#eabe7c;
	font-size:40px;
}
.jC1{
    border-color:#816f53;
}
.jC2{
    border-color:#eabe7c;
}
.jC3{
    border-color:#cdb590;
}
.jC4{
    border-color:#896038;
}
#jackpotTitle{
    background-color: #513e2e;
    border-radius: 50px;
    padding:0 10;
    margin: 5 0;
    color:#eabe7c;
    font-size: 30px;
	border-width:10px;
	border-style:solid;

	}
.FL{
	text-align:center;
	margin:10px;
}

#popupContainer{
	position:absolute;
	width:100%;
	height:100%;
	pointer-events: none;
}

#firstLaunchContainer{
	background-color: rgba(0,0,0,.6);
	position:absolute;
	width:100%;
	height:100%;
	opacity:0%;
	z-index:1;
	pointer-events: auto
}
#firstLaunch{
	background:#513e2e;
	position:absolute;
	left:35%;
	top:30%;
	width:30%;
	height:30%;
	border-radius:10px;
	border:2px solid #eabe7c;

}
#FLButton{
	position:absolute;
	left:45%;
	bottom:3%;	
}

#resetContainer{
	width:250px;
	height:50px;
	background:#513e2e;
	border:2px solid #eabe7c;
	border-radius:10px;
	padding:5px;
	position:absolute;
	bottom:50px;
	font-size:30px;
	left:5px;
	}

#offlineProgressContainer{
	background-color: rgba(0,0,0,.6);
	position:absolute;
	width:100%;
	height:100%;
	opacity:0%;
	z-index:1;
	pointer-events: auto
}
#offlineProgress{
	background:#513e2e;
	position:absolute;
	left:35%;
	top:30%;
	width:30%;
	height:30%;
	border-radius:10px;
	border:2px solid #eabe7c;
}
#offlineButton{
	position:absolute;
	left:45%;
	bottom:3%;	
}
.offline{
	margin-top:5px;
	text-align:center;
}

.stats{
	width:45%;
}
.options{
position:absolute;
bottom:0;
}
#upgrades{
	display:inline-block;
}
.upgrade{
	margin-top:5px;
}
.buildings{
	display:inline-block; 
	padding:5px;
}
.stats{
	display:inline-block;
	padding:5px;
}
.block{
	font-size:30px;
	text-align: center;
	margin-top: 30px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	padding:5px;

}

.label1{
	font-size:21px;
}
.label2{
	font-size:16px;
}
.label3{
	font-size:30px;
}
.label4{
	font-size:40px;
}
.button {
	border-radius: 10px;
	padding: 5px;
	background: #513e2e;
	text-decoration: none;
	outline:none;
	color:#d7a05b;
	border: 2px solid #d7a05b;
	font-family: 'Abel', sans-serif;
	padding-left:10px;
	padding-right:10px;
}

.button:hover {
	background: #896038;
	text-decoration: none;
}
.button:disabled{
	border-radius: 10px;
	padding: 5px;
	background: #322923;
	text-decoration: none;
	outline:none;
	color:#896038;
	border: 2px solid #896038;
	padding-left:10px;
	padding-right:10px;
}
/* crafting bar */
#partsProgress{
	/* width:150px; */
}
#moneyProgress{

}
.progress {
	height: 30px;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: #816f53;
	border-radius: 5px;
	border: 2px solid #d7a05b;
}
.progressBar { 
	float: left;
	width: 0;
	height: 100%;
	font-size: 20px;
	line-height: 30px;
	color: #513e2e;
	text-align: center;
	background-color: #cdb590;
}

/* invisible */
.locked{display:none;}